


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{width: 100;
    display: flex;
    align-items: center;

}
.logo{width: 75px;
    cursor: pointer;
    margin: 30px 0;

}
.menu-icon{
    width: 25px;
    cursor: pointer;
}
nav{flex: 1;
    text-align: right;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;

}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff5ea2;

}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 50%;
    position: relative;
    margin-left: 50%;

}
.col-1 h1{
    font-size: 64px;
}
.col-1 h3{
    font-size: 30px;
    
    
    margin: 20x 0 10px;
    font-weight: bold;
}
.col-1 p{
    font-size: 25px;
    color: black;
    font-weight: 100;
    
}
.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}
.col-1 p a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
    position: absolute;
    transform: translateX(-23%);

}
.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff5ea2;
    transition: width .3s;
    

}
.link:hover::after{
    width: 100%;
    transition: width .3s;
}

.token{
    transform: translate(-210%,-80%);
    width: -200%;
    height: 450px;
    position: absolute;
}
.col-2 {
    /*transform: translate(-100%, 30%); width: 400px;
    height: 300px;*/
position: relative;
right: 0%;
transform: translateY(47%);
}
.col-3 {
    /*transform: translate(-100%, 30%); width: 400px;
    height: 300px;*/
    position: relative;
    left: -100%;
    transform: translateY(120%);
}
.col-4 {
    /*transform: translate(-100%, 30%); width: 400px;
    height: 300px;left: -100%;*/
    position: absolute;
    transform: translate( -110%, -95%);
    width: 90%;
    height: 25%;
}